# Day 03 - Homework
# merging dataframes

In [4]:
# merging umsatzdaten_gekuerzt.csv, kiwo.csv and wetter.csv into df umsatz_kiwo_wetter and saving it as umsatz_kiwo_wetter.csv (all in the directory /_data)
import pandas as pd

# read the data
umsatz = pd.read_csv('_data/raw/umsatzdaten_gekuerzt.csv')
kiwo = pd.read_csv('_data/raw/kiwo.csv')
wetter = pd.read_csv('_data/raw/wetter.csv')

# convert the date to datetime
umsatz['Datum'] = pd.to_datetime(umsatz['Datum'])
kiwo['Datum'] = pd.to_datetime(kiwo['Datum'])
wetter['Datum'] = pd.to_datetime(wetter['Datum'])

# merge the data
umsatz_kiwo = pd.merge(umsatz, kiwo, on='Datum')
umsatz_kiwo_wetter = pd.merge(umsatz_kiwo, wetter, on='Datum')

# save the data
umsatz_kiwo_wetter.to_csv('_data/umsatz_kiwo_wetter.csv', index=False)

print(umsatz_kiwo_wetter.head())
print(umsatz_kiwo_wetter.shape)
print(umsatz_kiwo_wetter.columns)
print(umsatz_kiwo_wetter.dtypes)
print(umsatz_kiwo_wetter.describe())
print(umsatz_kiwo_wetter.info())

       Datum  Warengruppe      Umsatz  KielerWoche  Bewoelkung  Temperatur  \
0 2014-06-21            1  162.410673            1         6.0     15.5125
1 2014-06-22            1   99.627613            1         5.0     15.7000
2 2014-06-23            1  130.997405            1         4.0     16.5000
3 2014-06-24            1  119.068456            1         7.0     14.3625
4 2014-06-25            1  114.248640            1         0.0     18.4375

   Windgeschwindigkeit  Wettercode
0                   18        61.0
1                   19         NaN
2                   17         NaN
3                    7        21.0
4                   10         NaN
(223, 8)
Index(['Datum', 'Warengruppe', 'Umsatz', 'KielerWoche', 'Bewoelkung',
       'Temperatur', 'Windgeschwindigkeit', 'Wettercode'],
      dtype='object')
Datum                  datetime64[ns]
Warengruppe                     int64
Umsatz                        float64
KielerWoche                     int64
Bewoelkung                    float64
Temperatur                    float64
Windgeschwindigkeit             int64
Wettercode                    float64
dtype: object
                               Datum  Warengruppe      Umsatz  KielerWoche  \
count                            223   223.000000  223.000000        223.0
mean   2016-06-23 15:23:24.484304896     2.991031  260.559219          1.0
min              2014-06-21 00:00:00     1.000000   46.452105          1.0
25%              2015-06-22 00:00:00     2.000000  127.937248          1.0
50%              2016-06-22 00:00:00     3.000000  213.304835          1.0
75%              2017-06-23 00:00:00     4.000000  368.270772          1.0
max              2018-06-24 00:00:00     5.000000  861.858617          1.0
std                              NaN     1.420541  177.014984          0.0

       Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode
count  223.000000  223.000000           223.000000  165.000000
mean     4.910314   18.418161            11.515695   48.575758
min      0.000000   11.562500             5.000000    0.000000
25%      4.000000   16.500000             8.000000   21.000000
50%      5.000000   18.000000            10.000000   61.000000
75%      7.000000   20.125000            14.000000   61.000000
max      8.000000   27.875000            20.000000   95.000000
std      2.066688    3.266123             3.986291   30.539888
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Datum                223 non-null    datetime64[ns]
 1   Warengruppe          223 non-null    int64
 2   Umsatz               223 non-null    float64
 3   KielerWoche          223 non-null    int64
 4   Bewoelkung           223 non-null    float64
 5   Temperatur           223 non-null    float64
 6   Windgeschwindigkeit  223 non-null    int64
 7   Wettercode           165 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(3)
memory usage: 14.1 KB
None